body {
  background-color: #254b3c;
  font-family: Century, Tahoma, sans-serif;
  margin: 80px 64px;
}

.page {
  background-color: #F7F0E3;
  border-radius: 5px;
  max-width: 1200px;
  justify-content: center;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  padding: 16px 48px;
}

.body {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  flex: 1 1 auto;
  gap: 64px;
  border-bottom: solid 12px #254b3c;
}

.body-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 40%;
  padding-right: 48px;
}

.body-right {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-start;
  max-width: 60%;
  min-width: 0;
  }

.bodyrightimg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(212, 219, 221);  /*alternative choice 199, 218, 224*/
}

.body-text {
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  margin-bottom: 48px;
}

.btnyel {
  height: 36px;
  width: 120px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(255, 227, 134);
}

.card {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: rgb(212, 219, 221);
  border: solid 5px;
  border-radius: 5px;
  border-color: rgb(212, 219, 221);  /*alternative choice 199, 218, 224*/
  margin-bottom: 48px;
}

.cardcontainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
}

.cardbutton {
  height: 27px;
  width: 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(199, 218, 224);
}

.cardhold {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cardimg {
  height: 320px;
  width: 245px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.cardinfo {
  background-color: rgb(247, 247, 247);
  padding: 12px;
  padding-top: 0px;
}

.cardtitle {
  font-size: 18px;
}

.ctwoheader {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.cardvtwo {
  background-color: rgb(247, 247, 247);
  border: solid 5px rgb(212, 219, 221);
  border-radius: 5px;
  margin-bottom: 48px;
}

.cardtwocontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c2img {
  height: 300px;
  width: 325px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.c2imgcnt {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px;
  min-height: 700px;
  flex: 1 1 auto;
  border-bottom: solid 12px #254b3c;
}

#contenttitle {
  margin-bottom: 0;
}

.content-bottom {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.content-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 48px;
  gap: 24px;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F7F0E3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.explore {
  display: flex;
  height: 17.5%;
  align-items: center;
}

.toptext {
  display: flex;
  flex-direction: column;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-size: 14px;
}

.menu {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.menubtn {
  background-color: #F7F0E3;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;;
  border: none;
  text-decoration: none;
}

#pagetwo,
#pageone {
  padding-bottom: 0px;
}

#pagethree {
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.rightimg {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.topp {
  font-family:Century, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 500px;
  margin: 0;
}

.title {
  font-size: 64px;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 36px;
  font-family: Century, Geneva, Tahoma, sans-serif;;
}

.quotecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px;
  padding: 48px;
  background-color: rgb(247, 247, 247);
  border: solid 5px rgb(212, 219, 221);
  border-radius: 5px;
}

.quote,
.author,
.subscribequote {
  font-size: 20px;
}

.author {
  align-self: flex-end;
}


ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 82px;
  padding: 0px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:24px;
  padding: 48px;
  background-color: rgb(199, 218, 224);
  border: solid 5px rgb(22, 22, 22);
}
