body {
  background-color: #254b3c;
  font-family: Century;
  font-size: 16px;
  margin: 80px 64px;
}

.page {
  background-color: #F7F0E3;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  padding: 16px 48px;
  
}

.body {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  margin-top: 24px;
}

.body-left {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex: 1 1 auto;
}

.body-middle {
  width: 100px;
  height: auto;
  flex: 1 1 auto;
}

.body-right {
  display: flex;
  justify-content: flex-end;
  width: 575px;
  height: 750px;
  background-image: url(./images/body-image.png);
  flex: 1
}

.body-text {
  font-size: 16px;
}

.catchphrase {
  font-size: 64px;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 36px;

}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F7F0E3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.menu {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.menubtn {
  background-color: #F7F0E3;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 82px;
  padding: 0px;
}

