body {
  background-color: #254b3c;
  font-family: Century, Tahoma, sans-serif;
  margin: 80px 64px;
}

.page {
  background-color: #F7F0E3;
  border-radius: 5px;
  max-width: 1200px;
  justify-content: center;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  padding: 16px 48px;
}

.body {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  margin-top: 24px;
  flex: 1 1 auto;
  gap: 64px;
  border-bottom: solid 32px #254b3c;
}

.body-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 40%;
  padding-right: 48px;
}

.body-right {
  display: flex;
  flex: 0 1 auto;
  justify-content: flex-start;
  max-width: 60%;
  min-width: 0;
  }

.bodyrightimg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(212, 219, 221);  /*alternative choice 199, 218, 224*/
}

.body-text {
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  margin-bottom: 48px;
}

.btnyel {
  height: 36px;
  width: 120px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(255, 227, 134);
}

.card {
  display: flex;
  flex-direction: column;
  height: 350px;
  background-color: rgb(212, 219, 221);
  border: solid 10px;
  border-radius: 5px;
  border-color: rgb(212, 219, 221);  /*alternative choice 199, 218, 224*/
}

.cardcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.cardbutton {
  height: 27px;
  width: 100px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(199, 218, 224);
}

.cardhold {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cardimg {
  height: 270px;
  width: 200px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.cardinfo {
  background-color: rgb(247, 247, 247);
  padding: 12px;
  padding-top: 0px;
}

.cardtitle {
  font-size: 18px;
}

.content {
  display: flex;
  padding: 48px;
  height: 700px;
  flex: 1 1 auto;
  gap: 48px;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 32px;
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F7F0E3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.explore {
  display: flex;
  height: 17.5%;
  align-items: center;
}

.focusimg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(212, 219, 221);  /*alternative choice 199, 218, 224*/
}

.lefttitle {
  font-size: 42px;
  line-height: 1;
  font-family: Century;
}

.lefttext {
  display: flex;
  flex-direction: column;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  gap: 24px;
}

#mainimg {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.menubtn {
  background-color: #F7F0E3;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border: none;
}

.rightimg {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.rightp {
  font-family:Century, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 300px;
}

.title {
  font-size: 64px;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 36px;

}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 82px;
  padding: 0px;
}

