body {
  background-color: #254b3c;
  font-family: Century;
  font-size: 16px;
  margin: 80px 64px;
}

.page {
  background-color: #F7F0E3;
  border-radius: 5px;
  max-width: 1400px;
  box-sizing: border-box;
  justify-content: center;
  margin: auto;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  padding: 16px 48px;
  
}

.body {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  margin-top: 24px;
  flex: 1 1 auto;
  gap: 64px;
}

.body-left {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 33.33%;
  padding-right: 48px;
}

.body-right {
  display: flex;
  justify-content: flex-end;
  flex: 2 1 auto;
  width: 66.67%;
  background-image: url(./images/body-image.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 95%;
  min-width: 0;
}

.body-text {
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

.catchphrase {
  font-size: 64px;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 36px;

}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F7F0E3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.explrbtn {
  height: 36px;
  width: 120px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(255, 227, 134);
}

.explore {
  display: flex;
  height: 25%;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.menubtn {
  background-color: #F7F0E3;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border: none;
}

.plantbig {
  display: flex;
  flex: 0 1 auto;
  padding-top: 64px;
  padding-right: 16px;
  transform: scale(.95);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 82px;
  padding: 0px;
}

